<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Logan Miner Portfolio</title>
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> -->
    <link rel="stylesheet" href="./reset.css" type="text/css" />
    <link rel="stylesheet" href="./update.css" type="text/css" />
  </head>
  <body>
    <div id="navbar">
      <div id="brand">
        <h1>LOGAN</h1>
        <h1>MINER</h1>
      </div>
      <div id="navbar-links">
        <a href="/">About</a>
        <a href="/">Gallery</a>
        <a href="/">Contact</a>
      </div>
    </div>
  </body>
</html>
