body {
  background: #047bfe;
  /* background-image: url((../videos/Organic_Lines_4K_Motion_Background_Loop.mp4)) */
}

#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  /* width: 100%; */
  height: auto;
}

#bg-img-in-back {
  background: #037f8b;
  padding: 12.5px;
  /* background-image: url(../images/edouard-dognin-H6PaJwYMfUU-unsplash.jpg);
    background-image: url(../images/adobe_spark_blue.jpg); */
  position: relative;
  background-size: cover;
}

#headshot {
  max-width: 300px;
}

.collapsable {
  min-width: 300px;
}

#main-div-main-content {
  background: yellow;
  /* padding: 5px; */
  /* position: absolute; */
  height: 100vh;
}

.contact-link {
  color: black;
}

.contact-link:hover {
  color: black;
}

.portfolio-image {
  /* width: 90%; */
  max-width: 100%;
  margin-bottom: 20px;
}

.tech-image {
  max-width: 50px;
}

.card-body{
  background: #E3F1F7;
  color: black;
}

a.text-black {
  color: black;
}
/* .f-18 {
    font-size: 2em;
} */

/* #some-kind-of-card {
    background: red;
    height: 400px;
    position: absolute;
    right: 10%;
} */

#main-content {
  margin-top: 50px;
  /* background-color: rgba(128, 128, 128, 0.75); */
}
