body{
    background:#000000;
    /* background-image: url(../videos/Organic_Lines_4K_Motion_Background_Loop.mp4) */
}
#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
  }
#bg-img-in-back {
    background: #037f8b;
    padding: 12.5px;
    /* background-image: url(../images/edouard-dognin-H6PaJwYMfUU-unsplash.jpg);
    background-image: url(../images/adobe_spark_blue.jpg); */
    position: relative;
    background-size: cover;
}

#headshot {
    max-width:300px;
}

.collapsable {
    min-width: 300px;
}

#main-div-main-content {
    background: yellow;
    /* padding: 5px; */
    /* position: absolute; */
    height: 100vh;

}

.contact-link {
    color: white;
}

.contact-link:hover {
    color:white;
}

/* .f-18 {
    font-size: 2em;
} */

/* #some-kind-of-card {
    background: red;
    height: 400px;
    position: absolute;
    right: 10%;
} */

#main-content {
    margin-top: 50px;
    /* background-color: rgba(128, 128, 128, 0.75); */
}

#blue-div {
    /* background-color: black; */
    /* padding: 200px 200px; */
}

#yellow-div {
    /* background-color: white; */
    /* padding: 200px 200px; */
}

#green-div {
    /* background-color: white; */
    /* padding: 200px 200px; */
}

#cyan-div {
    /* background-color: black; */
    /* padding: 200px 200px; */
}